extends layout

block main 
    h1= 'Grocery List 🥑'
    div.container
        div.listWrapper 
            div.columns
                p.col grocery
                p.col amount
                p.col3
            if items
                each val in items 
                    div.listItem
                        p.col= val.item 
                        p.col= val.amount
                        form(action='/delete', class='col3' method='post')
                            input(type="hidden" value=val.id name="buttonId")
                            button(type='submit' class='deleteButton') 
                                            i.fas.fa-trash-alt

        div.formWrapper
            form(action='/add', method='post', id="form")
                label Add new grocery
                input(type='text', placeholder='ex cucumber' required='true' name='item')
                input(type='number', placeholder='ex 2' required='true' name='amount')
                button(type='submit' class='addButton') Lägg till! 
            
            include form.pug
        
        if searched.length > 0
            p= searched[0].item + ' finns det ' + searched[0].amount + ' st av'
        

        

    script(src='/js/app.js' type="text/javascript")
